/* // reset everything */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* // prevent iOS font size change */
html {
  -webkit-text-size-adjust: 100%;
}

/* // reset body line-height */
body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
}

/* // all media elements set to block and full width */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  max-width: 100%;
  min-height: 0.5rem;
  min-width: 1rem;
}

/* // assign button hover state */
button,
[role='button'] {
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

/* // reset anchor style */
a {
  cursor: pointer;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}
/* // reset list style */
ol,
ul {
  list-style: none;
}

/*reset firefox placeholder opacity*/
::-moz-placeholder {
  opacity: 1;
}

/*remove all animations, transitions and smooth scroll for people that prefer not to see them*/
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

header,
main,
.optContext,
.headlineHeading,
footer {
  display: flex;
  flex-direction: column;
}

header {
  background-image: url(assests/background.jpeg);
  opacity: 95%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-items: stretch;
  align-items: stretch;
  gap: 2rem;
  color: aliceblue;
}

nav {
  color: aliceblue;
  flex: 0.3;
  align-items: stretch;
  justify-items: center;
  padding: 0.02rem;
}

.NavBtns {
  flex: 0.8;
  display: flex;
  gap: 1rm;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  align-self: center;
}

.logo {
  padding: 1rem;
}

.headerBtn {
  outline: transparent;
  background: transparent;
  border: transparent;
  border-radius: 0;
}

.headline,
.option,
.contact,
.contactBtns,
nav {
  display: flex;
  gap: 0.05rem;
  flex-direction: row;
}

.Larrow,
.Rarrow {
  flex: 0.03;
  min-width: 1.5rem;
  min-height: 1.5rem;
  max-height: 100%;
}

.headline {
  flex: 0.7;
}

.UnL {
  border: white solid 2px;
  border-radius: 4px;
  max-width: 10%;
  min-width: 1rem;
}
.headlineHeading {
  flex: 0.97;
  gap: 0.6rem;
  padding: 1rem 3rem;
}

.headerBtn {
  padding: 1rem;
}

.greenBtn,
.redBtn {
  border: 0.01rem solid darkslateblue;
  border-radius: 5px;
  background: red;
  padding: 0.6rem;
}
.greenBtn,
.redBtn {
  background: red;
}

.greenBtn {
  background: greenyellow;
}

.options {
  margin: 2rem 0.5rem;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: auto;
  gap: 2rem;
  align-content: center;
  justify-content: center;
}

.option {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  gap: 1rem;
  border: 0.1rem solid darkslateblue;
  border-radius: 4px;
}

.optContext {
  gap: 1rem;
}

.contact {
  gap: 1rem;
  justify-content: stretch;
  background-image: url(assests/background1.jpeg);
  opacity: 95%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  padding: 1rem;
}

.contactHeading {
  color: aliceblue;
  flex: 0.7;
}

.contactBtns {
  flex: 0.3;
  gap: 2rem;
  padding: 1.5rem 0rem;
  a {
    color: black;
    font-weight: bold;
  }
}

footer {
  color: aliceblue;
  background: rgb(27, 34, 34);
  padding: 1rem;
  text-align: center;
  a {
    color: #fd3a3a;
  }
}
